<section class="container" style="padding-bottom: 100px;margin-top: 90px;">
  <div *ngFor="let article of articleList; let i = index">
    <div class="columns features" *ngIf="i % 3 == 0">
      <div class="column is-4">
        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by3">
              <img
                src="/assets/img/top/2.jpg"
                alt="Placeholder image"
                class="modal-button"
                data-target="modal-image2"
              />
            </figure>
          </div>

          <div class="card-content">
            <div class="content">
              <h4>{{ articleList[i].title }}</h4>
              <br />
              <a (click)="redirect(articleList[i].id)">
                <span
                  class="button is-link modal-button"
                  data-target="modal-image2"
                  style="background-color:#ee771c;font-size: 14px;"
                  >詳細を見る</span
                >
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by3">
              <img
                src="/assets/img/top/4.jpg"
                alt="Placeholder image"
                class="modal-button"
                data-target="modal-image2"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>{{ articleList[i + 1].title }}</h4>
              <br />
              <a (click)="redirect(articleList[i + 1].id)">
                <span
                  class="button is-link modal-button"
                  data-target="modal-image2"
                  style="background-color:#ee771c;font-size: 14px;"
                  >詳細を見る</span
                >
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by3">
              <img
                src="/assets/img/top/5.jpg"
                alt="Placeholder image"
                class="modal-button"
                data-target="modal-image2"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>{{ articleList[i + 2].title }}</h4>
              <br />
              <a (click)="redirect(articleList[i + 2].id)">
                <span
                  class="button is-link modal-button"
                  data-target="modal-image2"
                  style="background-color:#ee771c;font-size: 14px;"
                  >詳細を見る</span
                >
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
