<h4>企業ユーザー登録</h4>

<div class="field">
  <label class="label">企業名</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-success" type="text" [(ngModel)]="username" />
    <span class="icon is-small is-left">
      <i class="nc-icon nc-badge" style="font-size: 12px;"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="nc-icon nc-check-2" style="font-size: 12px;"></i>
    </span>
  </div>
  <!--<p class="help is-success">This username is available</p>-->
</div>

<div class="field">
  <label class="label">郵便番号</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-success" type="text" [(ngModel)]="postnumber" />
    <span class="icon is-small is-left">
      <i class="nc-icon nc-box-2" style="font-size: 12px;"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="nc-icon nc-check-2" style="font-size: 12px;"></i>
    </span>
  </div>
  <!--<p class="help is-success">This username is available</p>-->
</div>

<div class="field">
  <label class="label">担当者名</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-success" type="text" [(ngModel)]="name" />
    <span class="icon is-small is-left">
      <i class="nc-icon nc-single-02" style="font-size: 12px;"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="nc-icon nc-check-2" style="font-size: 12px;"></i>
    </span>
  </div>
  <!--<p class="help is-success">This username is available</p>-->
</div>

<div class="field">
  <label class="label">メールアドレス</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-success" type="email" [(ngModel)]="email" />
    <span class="icon is-small is-left">
      <i class="nc-icon nc-email-85" style="font-size: 12px;"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="nc-icon nc-check-2" style="font-size: 12px;"></i>
    </span>
  </div>
  <!--<p class="help is-danger">正しいメールアドレスではありません。</p>-->
</div>

<div class="field">
  <label class="label">電話番号</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-success" type="phone" [(ngModel)]="phone" />
    <span class="icon is-small is-left">
      <i class="nc-icon nc-chat-33" style="font-size: 12px;"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="nc-icon nc-check-2" style="font-size: 12px;"></i>
    </span>
  </div>
  <!--<p class="help is-danger">正しいメールアドレスではありません。</p>-->
</div>

<div class="field">
  <label class="label">パスワード</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-success" type="password" [(ngModel)]="password" />
    <span class="icon is-small is-left">
      <i class="nc-icon nc-single-02" style="font-size: 12px;"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="nc-icon nc-check-2" style="font-size: 12px;"></i>
    </span>
  </div>
  <!-- <p class="help is-success">ok</p> -->
</div>

<div class="field">
  <div class="control">
    <label class="checkbox">
      <input type="checkbox" [(ngModel)]="duplicatecheck" />
      複数店舗登録
    </label>
  </div>
  <p class="help is-danger">{{ message }}</p>
</div>

<div class="field">
  <div class="control">
    <iframe
      width="100%"
      src="/iframe/terms3"
      id="iframe"
      style="height: 500px;"
    >
    </iframe>
  </div>
  <div class="control">
    <label class="checkbox">
      <input type="checkbox" [(ngModel)]="check" />
      <a href="#">利用規約</a>に同意します。
    </label>
  </div>
  <p class="help is-danger">{{ message }}</p>
</div>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-link" (click)="create()">アカウントを作成</button>
  </div>
  <div class="control">
    <button class="button is-danger is-inverted">やめる</button>
  </div>
</div>
