<section
  class="container"
  style="padding-right:0px!important;padding-left:0px!important;"
>
  <div
    class="container"
    style="font-family:sans-serif;padding-right:0px!important;padding-left:0px!important;"
  >
    <div class="terms">
      <h1>利用規約（掲載企業用）</h1>
      <p>Legal Information & Notices</p>
    </div>
    <hr style="color:gray; width:100%; size:2px;margin-top:45px;" />
    <div class="terms_text">
      <p>
        Local treasure
        利用規約（掲載企業用）（以下、「本規約」といいます。）は、株式会社
        Colorize(以下、「当社」といいます。)が提供する、地域コミュニティ型アルバイト検索サイト（http://www./）ならびに当該サイトに付随するメール配信その他の各種情報提供サービスである『Local
        treasure』(以下、「本サービス」といいます。)の掲載企業(第1条第1項に定義)に適用されるものとします。当社から告知形態を問わず、随時告知する諸規定およびガイドライン等は本規約の一部を構成するものとします。本規約に同意しない場合は、本サービスをご利用頂けないものとします。
      </p>
    </div>
    <div class="terms_text">
      <h3>第1条 (用語の定義)</h3>
      <p>
        本規約における次の用語は、以下の意味を有するものとします。
      </p>
      <p>
        (1)
        「掲載企業」とは、本サービスに登録し、本サービスを利用する法人またはそれに準じる団体をいいます。
      </p>
      <p>(2) 「求職者」とは、本サービスに登録して仕事を探す者をいいます。</p>
      <p>
        (3)
        「企業詳細」とは、本サービスに登録する掲載企業の請求先情報、拠点情報、ユーザ情報を含む利用に必要な情報をいいます。
      </p>
      <p>
        (4)
        「就業場所」とは、掲載企業が提示する、掲載企業の店舗、事務所、工場などの拠点をいいます。
      </p>
      <p>
        (5)
        「業務内容」とは、本サービス上で掲載企業が提示する仕事の内容の総称をいいます。
      </p>
      <p>
        (6)「ユーザ」とは、掲載企業に所属している者のうち、当該掲載企業に本サービスにログインして、本サービスで業務内容の登録などを行う者として本サービスに登録された者をいいます。
      </p>
      <p>
        (7)
        「ログインID」および「パスワード」とは、ユーザに対して当社が発行する、本サービスへのログインに必要となる情報をいいます。
      </p>
    </div>
    <div class="terms_text">
      <h3>第2条 (本サービスの内容)</h3>
      <p>
        本サービスは、掲載企業と求職者に双方の情報を提供するサービスです。そのため、当社は雇用契約の当事者ではありません。掲載企業と求職者の間での雇用契約の成立・履行に関しては、掲載企業と求職者の責任において行われるものとし、当該雇用契約に伴って生じる問題については、当社は一切の責任を負わず、掲載企業と求職者で解決していただきます。
      </p>
      <p>
        本サービスとは、当社が提供する以下サービスのことをいいます。 掲載企業と求職者に情報提供をする一連のサービスであり、掲載企業は以下を行うことができます。
      </p>
      <p>
        (1)本サービスのwebサイト上に雇用を前提とした求人情報を掲載・登録をすること
      </p>
      <p>
        (2)前号の求人情報に対して応募してきた求職者の登録情報を閲覧・検索すること
      </p>
      <p>
        (3) 就業相談メッセンジャーを利用すること
      </p>
      <p>
        (4) 本サービスを通じて雇用した求職者に対する評価を付与すること
      </p>
    </div>
    <div class="terms_text">
      <h3>第3条 （規約の変更)</h3>
      <p>
        当社は、本規約を事前に通知することなく変更することができるものとします。掲載企業は、本サービスを利用する際に毎回必ず最新の本規約を確認するものとし、掲載企業が本サービスを利用した時点でその時点の本規約に同意したものと見なします。
      </p>
    </div>
    <div class="terms_text">
      <h3>第4条 (本サービスに登録した情報)</h3>
      <p>本サービスのご利用はユーザご本人様に限ります。</p>
      <p>
        掲載企業は、企業詳細、ユーザ、就業場所等の登録情報（以下、「登録情報」といいます。）について、全て掲載企業自らが責任をもち、その登録情報が真実であり、最新の状態にしなければなりません。
      </p>
      <p>
        掲載企業は、掲載企業に属し実際に本サービスを利用する者を過不足なくユーザとして登録するものとし、当社に当該ユーザの数だけログインIDおよびパスワードの発行を求めるものとします。
      </p>
      <p>
        ユーザの行為は全て当該ユーザの属する掲載企業の行為とみなします。掲載企業は、ユーザの行為はもちろんのことその他の掲載企業に属する者の行為に関して全責任を負うものとします。
      </p>
      <p>
        掲載企業は、求人情報１件につき1つの原稿を本サービスに掲載するものとし、同一内容の求人情報に関して重複する原稿を登録してはならないものとします。
      </p>
    </div>
    <div class="terms_text">
      <h3>第5条 （登録情報の変更・抹消・除名）</h3>
      <p>
        掲載企業は、登録情報に変更が生じた場合または登録情報が真実でない場合、直ちに本サービス上で当該情報を変更するものとします。変更を怠ることにより掲載企業及び第三者に不利益や損害が生じた場合でも、当社は一切の責任を負わないものとし、又当社に損害が生じた場合には掲載企業はその損害を賠償するものとします。
      </p>
      <p>
        当社は、次の各号のいずれかに該当した場合は、事前の勧告をすることなく本サービス利用の一時的または永久的な停止、登録の抹消など、当社が必要と判断する処置を取ることができます。
      </p>
      <p>
        (1)掲載企業による本サービスの利用が合理的に不可能になったと当社が判断した場合
      </p>
      <p>
        (2) 掲載企業より申し出があった場合
      </p>
      <p>(3) 掲載企業が本規約に違反した場合</p>
      <p>(4) 掲載企業が本規約に定める禁止事項を行った場合</p>
      <p>
        (5)
        掲載企業の役員が、暴力団、暴力団関係企業、総会屋、社会運動標ぼうゴロ、政治活動標ぼうゴロ、特殊知能暴力集団またはこれらに準ずるもの（以下、総称して「反社会的勢力」という）であるとき、または反社会的勢力と人的・資金的・経済的な関係があると認められるとき、もしくは反社会的勢力と交流があるとき。
      </p>
      <p>
        (6) その他、当社が不適切と判断した場合
      </p>
      <p>
        掲載企業は、次の各号のいずれかの事態が生じた場合、直ちに当社に通知するものとし、当社は通知された情報および当社が独自に収集した情報を元に、独自の基準に基づいて当該掲載企業の本サービスの利用が継続可能かどうか等を判断するものとします。
      </p>
      <p>
        (1)　監督官庁から営業停止または営業免許もしくは営業登録の取消し等の処分を受けたとき
      </p>
      <p>
        (2)　差押､強制執行、担保権の実行としての競売、租税滞納処分その他これらに準ずる手続が開始されたとき
      </p>
      <p>
        (3) 破産などの手続開始等の申立てを自らなしまたは第三者からなされたとき
      </p>
      <p>
        (4)
        自ら振り出し、引き受け、保証または裏書した手形もしくは小切手が１回でも不渡りになったときまたは金融機関もしくは手形交換所から取引停止処分を受けたとき
      </p>
      <p>
        (5)　営業の停止・変更がなされたとき
      </p>
      <p>(6)　災害、労働争議その他本規約の履行を困難にする事項が生じたとき •</p>
      <p>(7)　資産、信用または支払いの能力に重大な変更を生じたとき •</p>
      <p>
        (8)　当社に対する詐術その他の背信的行為があったとき
      </p>
      <p>
        (9)　前各号に準じる重要な事項が生じたとき
        掲載企業は、前項の通知を怠ることにより当社に損害を与えた場合、その損害を賠償するものとします。
        掲載企業は、当社の指定する方法により本サービスの登録を抹消することができます。
      </p>
    </div>
    <div class="terms_text">
      <h3>第6条 （ログインID・パスワードの管理）</h3>
      <p>
        掲載企業は、本サービスに関連して当社が付与する全てのログインID及びパスワードの管理責任を負うものとします。
      </p>
      <p>
        本サービスを利用するにあたって、ログインID・パスワードの管理不十分、使用上の過誤、第三者の使用等による損害は掲載企業がその責任を負うものとし、当社は一切責任を負いません。また、掲載企業がログインID、パスワードを不正に利用したり、または第三者に利用されたりしたことにより当社に損害が生じた場合、掲載企業は当社に対し、その損害を賠償するものとします。
      </p>
      <p>
        掲載企業はログインID、パスワードを第三者に知られた場合、またはログインID、パスワードが第三者に使用される疑いのある場合には、直ちに当社にその旨を連絡するとともに当社の指示がある場合にはこれに従うものとします。
      </p>
    </div>
    <div class="terms_text">
      <h3>第7条 （掲載企業と求職者との取引）</h3>
      <p>
        掲載企業は、本サービスをご利用いただくにあたって、下記項目を遵守するものとします。
      </p>
      <p>
        掲載企業は、本サービスとは別に採用または面接確定した求職者に連絡を取り、求人情報に関し本サービスとは独立した雇用契約を成立させる義務があります。
      </p>
      <p>
        本サービスを契機として、掲載企業と求職者との間で雇用契約を締結する際は、できる限り業務内容で提示された条件を反映したものとします。
      </p>
      <p>
        掲載企業は、労働に関わる全ての法律（労働基準法、職業安定法、雇用対策法、男女雇用機会均等法およびその施行規則、施行令等を含みますがこれに限りません）を遵守すると共に、業務内容に記載する業務が法令、行政規則など（医師法、薬事法などを含みますがこれに限りません）により規制を受ける場合には、当該規制に従うものとします。
      </p>
      <p>
        掲載企業は、本サービスで知り合った求職者と雇用契約を締結した場合には、雇用締結後10日以内に当社にその旨通知するものとします。
      </p>
    </div>
    <div class="terms_text">
      <h3>第8条 (評価)</h3>
      <p>
        評価とは、本サービスをきっかけにして実施された業務に関する掲載企業による事後評価であり、掲載企業は本サービスを通じて雇用した求職者の評価を行うものとします。
      </p>
      <p>
        評価内容は掲載企業の判断によるものとし、当社では原則としてその内容に一切関知せず、評価内容の変更や削除に応じないものとします。
      </p>
      <p>
        評価及びその情報から発生し得る問題については、当社は、何ら責任を負わないものとします。
      </p>
    </div>
    <div class="terms_text">
      <h3>第9条 (利用方法)</h3>
      <p>
        本サービスの利用希望の企業（「利用希望企業」といいます。）は、当社Webサイト上にて必要事項を登録し、本サービスの利用を当社に申し込むものとします。
      </p>
      <p>
        利用希望企業は申込時に、以下に該当することを保証するものとします。
      </p>
      <div style="padding-left: 20px;">
        <p>
          (1)法人または法人に準じる団体であること
        </p>
        <p>
          (2) 適法に活動しており、その活動に必要な認可または資格を得ていること
        </p>
        <p>
          (3) 反社会的勢力と一切の関係がないこと
        </p>
        <p>
          (4) 申込書記入内容に漏れが無く全て正確かつ最新の情報であること
        </p>
        <p>
          (5)掲載企業の営む業種が、「風俗営業等の規則及び業務の適正化等に関する法律(昭和二十三年七月十日法律第百二十二号)」の許可を必要とする業種ではないこと
        </p>
      </div>
      <p>
        利用希望企業は過去に以下のいずれかに該当する事態があった場合には、申し込み時にその旨を当社に通知するものとします。当該通知を怠った場合には、登録抹消、利用停止をすることがあります。また当該通知を怠ることで当社が損害を被った場合、当該利用希望企業は当社に対し損害を賠償するものとします。
      </p>
      <div style="padding-left: 20px;">
        <p>
          (1)　監督官庁から営業停止または営業免許もしくは営業登録の取消し等の処分を受けたこと
        </p>
        <p>
          (2)　差押､強制執行、担保権の実行としての競売、租税滞納処分その他これらに準ずる手続が開始されたこと
        </p>
        <p>
          (3)
          自ら振り出し、引き受け、保証または裏書した手形もしくは小切手が１回でも不渡りになったことまたは金融機関もしくは手形交換所から取引停止処分を受けたこと
        </p>
        <p>
          (4)　前各号に準じる重要な事項が生じたとき
        </p>
      </div>
      <p>
        当社は利用希望企業に対して本サービスの利用の承諾を保証するものではなく、申し込みの際に提供された情報を元に独自の情報・基準により審査し、当社の判断に基づき申し込みを受諾し登録するか否かを決定するものとします。ただし、当社は必要に応じて、利用希望企業に対して審査に必要な情報の追加提供を求めることが出来るものとします。
      </p>
      <p>
        当社は利用希望企業の申し込みを受諾し登録した場合には、利用希望企業は掲載企業として本サービスを利用することができます。
      </p>
    </div>
    <div class="terms_text">
      <h3>第10条 （利用料金）</h3>
      <p>
        (1)掲載企業は、当社に対し本サービスを利用する対価として、第2項に定める利用料金を支払うものとします。
      </p>
      <p>
        (2)掲載企業は、初回情報登録時の登録料及び毎月のシステム利用料について申込書で規定された料金（以下「利用料金」）を当社に支払うものとします。
      </p>
      <p>
        (3)掲載企業が前項及びその他の支払い遅延した場合には、年14.6％（年365日の日割計算）の割合による遅延損害金が発生するものとします。
      </p>
      <p>
        (4)利用料金に関わる振込手数料等は掲載企業にご負担頂くものとします。 •
      </p>
      <p>
        (5)
        当社は掲載企業からお支払い頂いた利用料金は、理由の如何を問わず返金いたしません。
      </p>
      <p>
        (6)当社は原則として領収書を発行しないものとします。
      </p>
      <p>
        (7)
        掲載企業が当社に対する債務を期日までに履行しないことにより、当社が催告その他の手続き等に要した費用については、全て当該掲載企業が負担するものとします。
      </p>
    </div>
    <div class="terms_text">
      <h3>第11条（支払い方法）</h3>
      <p>
        利用料その他のお支払いについては、当社の指定する方法にて行うものとします。
      </p>
    </div>
    <div class="terms_text">
      <h3>第1２条（転載）</h3>
      <p>
        当社は現在および将来にわたり、本サービスの成果の拡充を目的として、当社が運営する別の求人媒体および第三者たる企業、組織または団体が運営する求人媒体に掲載企業の求人情報を転載することができるものとします。
      </p>
      <p>
        前項に定める転載行為において、当社は次の各号を遵守します。
      </p>
      <p>
        (1) 情報提供元が本サービスであることを明記する
      </p>
      <p>
        (2) 本サービスにおいて制作された求人情報の内容を改変しない
      </p>
      <p>
        (3)
        応募情報は、本サービスからの応募と同様に、掲載企業の管理画面に集積する
      </p>
    </div>
    <div class="terms_text">
      <h3>第1３条（業務委託・提携）</h3>
      <p>
        当社は現在及び将来にわたり、本サービスの業務を遂行し、あるいは事業を拡充する為に、継続的に第三者たる企業、組織または団体と業務委託・提携等をすることができるものとします。
      </p>
    </div>
    <div class="terms_text">
      <h3>第1４条 (本サービスの変更・中断・停止)</h3>
      <p>
        当社は、本サービスの一部または全部を、事前の告知なく変更・一時中断または停止することがあります。それに伴い、掲載企業に不利益や損害が生じた場合でも、当社は理由の如何を問わずその責を負わないものとします。
      </p>
    </div>
    <div class="terms_text">
      <h3>第1５条（掲載企業が取得する個人情報の取扱い）</h3>
      <p>
        掲載企業は、本サービスを通じて取得された個人情報を、採用活動以外の目的で使用しないものとし、また当社の事前の書面による許可なく第三者に提供してはなりません。
      </p>
      <p>
        掲載企業は前項に違反したことを理由として、当社が第三者からクレーム、損害賠償請求その他法的主張等を受けた場合には、当社の指示に基づき掲載企業の費用と責任においてこれを解決するものとします。また、当社が独自にかかる紛争に対応した場合には、掲載企業は、それに要する費用（弁護士費用を含む）をすべて負担するものとします。
      </p>
    </div>
    <div class="terms_text">
      <h3>第16条 (個人情報の取り扱い)</h3>
      <p>
        本サービスにおいて登録される、あるいは収集される個人情報(個人データ)については、当社の個人情報保護方針に従って取り扱われます。
      </p>
      <p>
        本サービスにおいて収集された氏名等の個人情報は次の各号の目的のために利用し、その達成に必要な範囲を超えて個人情報を取扱うことはいたしません。
      </p>
      <div style="padding-left: 20px;">
        <p>
          (1) 本サービスの提供、改善のため
        </p>
        <p>
          (2) マーケティング(DM送付、アンケートやキャンペーン実施等を含む)のため
        </p>
        <p>
          (3) アフターサービス、問い合わせ、苦情対応のため
        </p>
        <p>(4) マーケティングデータの調査、統計、分析のため</p>
        <p>(5) 新サービス、新機能の開発のため</p>
        <p>(6) システムの維持、不具合対応のため</p>
      </div>
      <p>
        前項の定めに関わらず、当社は本サービス提供のため、次の各号の場合に各提供先に対し掲載企業の企業詳細に関する情報の一部または全部について通知いたします。
      </p>
      <div style="padding-left: 20px;">
        <p>(1)掲載企業が業務内容を登録した場合の、求職者に対する提供</p>
        <p>
          (2)掲載企業が、本サービスの利用を希望する者を当社に紹介した場合の、被紹介者に対する提供
        </p>
        <p>
          (3)
          掲載企業が、決済代行会社、金融機関またはそれに準じる法人等（以下「決済代行会社等」）を介して利用料金を当社に支払うことを選択した場合の、当該決済代行会社等に対する提供、及び、決済代行会社等より当社に照会があった際の、当該決済代行会社等に対する提供
        </p>
        <p>
          (4)
          当社の関連会社が本サービス運営の一部を行う場合、当該関連会社に対する提供
          当社は個人情報の正確性及び安全性を確保するための安全対策を実施し、業務委託等に伴う個人情報の預託においては、適切な委託先を選定し、適切な監督を行います。
        </p>
      </div>
      <p>
        当社は登録情報に含まれる個人情報を利用目的の範囲を超えて、第三者に提供することはありません。但し、法令が定めた場合または、本サービスの利用者の生命・財産の維持のため、関係者・当社または第三者に損害を生じさせた、あるいは損害を生じさせる恐れがある場合に、関係者ないしは関係諸機関へ通報・通知もしくは照会に応じる場合に例外的に提供することがあります。
        登録情報に含まれる個人情報の保有者ご本人から個人情報の開示や利用目的のご請求を受けた場合には、ご本人と同意した方法で個人情報を開示・通知いたします。その結果個人情報の内容の訂正や利用停止、第三者提供の停止のご請求にも合理的な範囲で対応いたします。
        個人情報の登録は掲載企業および個人情報の保有者の任意によるものとします。
      </p>
      <p>
        ただし、必要情報をご登録頂けない場合は、本サービスの提供を受けることができない場合があります。
        個人情報に関する請求・質問等については、以下までご連絡ください。 株式会社
        Colorize　個人情報保護相談窓口 連絡先：個人情報問合せ　colorize.up@gmail.com
      </p>
    </div>
    <div class="terms_text">
      <h3>第17条（反社会的勢力の排除）</h3>
      <p>
        掲載企業は、次の各号のいずれにも該当しないことを表明し、かつ将来にわたっても該当しないことを確約する。
      </p>
      <div style="padding-left: 20px;">
        <p>
          (1)掲載企業（掲載企業の役員、株主、実質的に経営権を有する者等を含む。）が、暴力団、暴力団員、暴力団員でなくなった時から５年を経過しない者、暴力団準構成員、暴力団関係企業、総会屋等、社会運動等標榜ゴロまたは特殊知能暴力集団等、その他これらに準ずる者（以下これらを総称して｢反社会的勢力」といいます。）に該当しないこと
        </p>
        <p>(2) 反社会的勢力が経営を支配していると認められる関係を有すること</p>
        <p>
          (3)
          反社会的勢力が経営に実質的に関与していると認められる関係を有すること
        </p>
        <p>
          (4)
          自己、自社もしくは第三者の不正の利益を図る目的または第三者に損害を加える目的をもってするなど、不当に反社会的勢力を利用していると認められる関係を有すること
        </p>
        <p>
          (5)
          反社会的勢力に対して資金等を提供し、または便宜を供与するなどの関与をしていると認められる関係を有すること
        </p>
        <p>
          (6)
          役員または経営に実質的に関与している者が反社会的勢力と社会的に非難されるべき関係を有すること
        </p>
      </div>
      <p>
        掲載企業は、自らまたは第三者を利用して次の各号に該当する行為を行わないことを確約する。
      </p>
      <div style="padding-left: 20px;">
        <p>(1) 暴力的な要求行為</p>
        <p>(2) 暴力を用い、または脅迫的な言動をする行為</p>
        <p>
          (3)
          風説を流布し、偽計を用いまたは威力を用いて当社、求職者の信用を毀損し、または当社、求職者の業務を妨害する行為
        </p>
        <p>(4) 法的な責任を超えた不当な要求行為</p>
        <p>(5) その他に準ずる行為</p>
      </div>
    </div>
    <div class="terms_text">
      <h3>第18条 (電子メールの送信)</h3>
      <p>
        当社は、掲載企業が当社に通知したメールアドレスに対し、以下の電子メールの送信を行うことがあります。
      </p>
      <p>(1) 本サービスを提供する過程で送信されるメール</p>
      <p>(2)本サービスに関する情報を掲載したメールマガジン</p>
      <p>(3)掲載企業に対するアンケートに関するメール</p>
      <p>(4)当社の新サービスを案内するメール</p>
      <p>(5)タウン情報やクーポン情報を掲載したメール</p>
      <p>
        掲載企業は、本条第1項各号に記載された当社からの電子メールに、広告宣伝が付随的に含まれる場合があることを承諾するものとします。
      </p>
      <p>
        掲載企業は、本条第1項各号に記載された当社からの電子メールを希望しない場合には、当社所定の方法にて通知することにより、当該メールの送信を停止することができます。
      </p>
    </div>
    <div class="terms_text">
      <h3>第19条 (使用目的等)</h3>
      <p>
        掲載企業は、いかなる方法においても、本サービスを通じて提供される情報を、採用活動の目的以外で使用することはできません。
      </p>
      <p>
        掲載企業は、本サービスを通じて提供される情報について、いかなる方法においても権利者の許諾を得ないで第三者に使用させたり、公開等することはできません。
      </p>
      <p>
        本サービスに入力された一切の情報の知的所有権(著作権法第27条、第28条に定める権利を含みます)は当社に帰属するものとし、当社は掲載企業またはユーザを特定できない形で、当該情報の一部または全部を公開できるものとします。
      </p>
    </div>
    <div class="terms_text">
      <h3>第20条 (禁止事項)</h3>
      <p>
        掲載企業は本サービスの利用にあたって次の各項の行為をしてはならないものとします。
      </p>
      <p>
        • 虚偽の情報を入力する行為
      </p>
      <p>
        •当社および他の掲載企業の営業を妨げる行為、誹謗する行為
      </p>
      <p>
        •真実雇用契約をする意思がないにもかかわらず、原稿を登録する行為
      </p>
      <p>
        •当社が別途定める、一定期間あたりの募集上限数を超えて業務内容を登録する行為
      </p>
      <p>
        •短期間の採用、長期間の採用、その他業務の実施結果等に関して虚偽の申告を行う行為
      </p>
      <p>
        •他の利用者、もしくは第三者、当社の財産権、プライバシーその他の権利を侵害する行為または侵害する恐れのある行為
      </p>
      <p>
        •公序良俗に反する行為、法律・条例に反する行為、犯罪的行為、またはその恐れのある行為
      </p>
      <p>
        •性交・わいせつな行為などを目的とした出会い等を誘導する行為または誘導していると解釈し得る行為
      </p>
      <p>
        •「風俗営業等の規則及び業務の適正化等に関する法律(昭和二十三年七月十日法律第百二十二号)」の許可を必要とする所謂ナイトワークに関連する募集行為
      </p>
      <p>
        •事実に反する情報その他、公序良俗に反する、またはその恐れのある情報を当社、他の本サービス利用者及び第三者に対して提供する行為
      </p>
      <p>
        •選挙運動、またはこれに類する行為その他の政治及び宗教に関する行為
      </p>
      <p>
        • 本サービスにおいてログインID・パスワードを不正に使用する行為
      </p>
      <p>
        •当社が付与しているログインID・パスワード・会員資格を、当該ログインIDおよびパスワードを付与されたユーザ以外の第三者に利用、貸与、譲渡、売買等する行為
      </p>
      <p>
        •故意、過失を問わずコンピュータウイルス等の有害なプログラムを本サービスを通じて、または本サービスに関連して使用し、もしくは提供する行為
      </p>
      <p>
        •当社が本サービスにおいて提供する情報を自己のコンピューター・携帯電話等に当社の同意なく保存、記録、再利用する行為
      </p>
      <p>
        •掲載企業が本サービスを利用する為に入力した情報が入った携帯電話を第三者に譲渡及び貸与する行為
      </p>
      <p>
        •当社の了承なく本サービスを通じて、また本サービスに関連して営利を目的とする行為、またはその準備を目的とする行為
      </p>
      <p>
        • 他人になりすまして情報を送信、もしくは表示等する行為
      </p>
      <p>
        •本サービスを利用する上で法令に基づく資格、許認可の取得等が義務付けられている場合に、当該取得を怠ったまま本サービスを利用する行為
      </p>
      <p>
        • 本サービスを利用する上で生じた債務の履行を怠る行為
      </p>
      <p>
        • その他当社が不適切と判断する行為
      </p>
    </div>
    <div class="terms_text">
      <h3>第21条 (当社の責任の範囲)</h3>
      <p>
        当社は本規約及び追加する規約、個別規約、ガイドライン等に明示的に定める場合を除き、全ての掲載企業の損害について責任を負いません。また当社が損害について責任を負う場合であっても利用料金の６ヶ月分を上限とします
      </p>
      <p>
        本サービスは職業安定法に規定される職業紹介ではありません。掲載企業から提供された情報内容の正確性、有用性、完全性、確実性について当社はなんら保証せず、掲載企業に対して求職者の斡旋も行いません。掲載企業は本サービスを御自身の判断で利用するものとします。
      </p>
      <p>
        当社は、本サービスを契機とする契約の交渉・成立・内容・履行・取消・解除・保証ならびにそれらに付随して発生する費用及び損害については一切関知いたしません。
      </p>
      <p>
        当社は、本サービスにおいて、バグ、機能動作の不具合、エラーあるいは障害などが生じないことを保証するものではありません。
      </p>
      <p>
        火災・停電・通信回線の事故、天災地変、革命、テロ等により、本サービスの使用が不可能となった場合、掲載企業に生じた損害について、当社は一切の損害賠償責任を負いません。
      </p>
      <p>
        当社は、本サービス中に本サービス以外のサービスへのリンクがあった場合、当該リンク先の内容に関して一切責を負わないものとします。
        当社は、ユーザに発行されたログインIDおよびパスワードにより
      </p>
      <p>
        ログインされた上でなされた本サービスの操作全般について、当該操作をユーザ本人がしたか否かを問わず、当該操作及びその結果により、掲載企業が被った損害、被害について何らの責任も負いません。
      </p>
    </div>
    <div class="terms_text">
      <h3>第22条 (掲載企業の責任と損害賠償)</h3>
      <p>
        掲載企業は、第三者の行為に対する要望、問い合わせもしくはクレームがある場合は、当該第三者に対し、直接その旨を通知するものとし、その結果については、自己の責任と費用をもって処理解決するものとします。
      </p>
      <p>
        掲載企業が本サービスを不正に利用した場合、当社は当該掲載企業に対し本サービス利用の一時的または永久的な停止、登録の抹消など、当社が必要と判断する措置を取ることができるものとします。また、当該不正利用により、当社に損害が生じた場合には、不正利用を行った掲載企業がその全額を賠償するものとします。
      </p>
      <p>
        掲載企業は、本サービスの利用しまたは本規約に違反して当社もしくは第三者に対して損害を与えた場合には自己の責任と費用をもって損害を賠償するものとします。
      </p>
    </div>
    <div class="terms_text">
      <h3>第23条（協議事項）</h3>
      <p>
        掲載企業及び当社は、規約に定めのない事項及び本規約の各条項の解釈について疑義が発生した場合には、お互いの誠意をもって協議し、解決するものとします。
      </p>
    </div>
    <div class="terms_text">
      <h3>第24条 (準拠法及び合意管轄)</h3>
      <p>
        本規約の準拠法は日本法とします。
      </p>
      <p>
        本規約に関して紛争が生じた場合、東京地方裁判所または東京簡易裁判所を第一審の専属的合意管轄裁判所とします。
      </p>
    </div>
    <div class="terms_text" style="margin-top: 30px;">
      <p>附則</p>
      <p>本規約は2019年12月01日から実施いたします。</p>
    </div>
  </div>
</section>
