<style>
  .size_width {
    width: 80%;
    margin: 0 auto;
  }

  @media (max-width: 648px) {
    .size_width {
      width: 95%;
      margin: 0 auto;
    }

    .pr-5 {
      padding-right: 0px !important;
    }
  }
  .btn-square {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8; /*ボタン色*/
    color: #fff;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
  }
  .btn-square:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px); /*下に動く*/
    border-bottom: none; /*線を消す*/
  }
</style>
<div
  class="site-blocks-cover overlay"
  style="opacity: unset !important;"
  data-aos="fade"
  id="home-section"
>
  <div class="container">
    <div class="row align-items-center justify-content-left">
      <div>
        <h1 style="height:unset;">便利な場所でのアルバイト</h1>
        <h1 style="height:unset;">気軽に簡単に見つかります</h1>
      </div>
    </div>
  </div>
  <div style="text-align: center;">
    <a href="#" class="btn-square">LoTreに参加登録する</a>
  </div>
</div>

<div
  class="py-5 bg-light site-section how-it-works"
  id="howitworks-section"
  style="width:100%;"
>
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <h2 class="section-title mb-3">
        アルバイト探しって面倒<br />こんなお悩みありませんか？
      </h2>
    </div>
  </div>
</div>

<div
  class="site-blocks-cover overlay"
  style="opacity: unset !important;"
  data-aos="fade"
  id="home-section"
>
  <div class="container">
    <div class="row align-items-center justify-content-left">
      <div>
        <h4 style="height:unset;">
          1.やっと選んだバイト先に面接に行ったら思っていたイメージと全然違った
        </h4>
        <h4 style="height:unset;">2.お試しで働きたい</h4>
        <h4 style="height:unset;">3.バイト仲間がいっぱい欲しい</h4>
        <h4 style="height:unset;">
          4.色々な条件を読んでいるうちに何がやりたいかわからなくなる
        </h4>
        <h4 style="height:unset;">
          5.結局時給で選んだバイトなのにその他の条件で損をしている気がする
        </h4>
      </div>
    </div>
  </div>

  <a href="#howitworks-section" class="smoothscroll arrow-down"
    ><span class="icon-arrow_downward"></span
  ></a>
</div>

<div
  class="py-5 bg-light site-section how-it-works"
  id="howitworks-section"
  style="width:100%;"
>
  <div class="container">
    <div
      class="row mb-5 justify-content-center"
      style="margin-bottom: unset!important;"
    >
      <h2 class="section-title mb-3">
        LoTreおすすめポイント
      </h2>
    </div>
  </div>
</div>

<div
  class="py-5  site-section how-it-works"
  id="howitworks-section"
  style="width:100%;"
>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>1.面接に行かずに、条件の確認や自分の都合を伝えることができる。</h5>
        <br />
        <br />
        <h5>2.お試しバイトがあるので気軽にチャレンジできる</h5>
        <br />
        <h5>3.エリアコミュニティを兼ねているのでエリア内で質問できる。</h5>
        <br />
        <br />
        <h5>
          4.最低限の条件以外は交渉可能です。実際、企業の求人内容も流動的です。
        </h5>
        <br />
        <br />
        <br />
        <h5>
          5.数十円の時給の違いで選んでその他の条件次第でお得感はかなり変わって来ます。複利厚生の中身もわからなければ事前にメッセージで質問しちゃいましょう！
        </h5>
      </div>
      <div class="col-md-6">
        <img
          src="../../../assets/img/top/1.jpg"
          alt="Placeholder image"
          class="modal-button"
          data-target="modal-image2"
        />
      </div>
    </div>
  </div>
</div>

<!--<section class="site-section " id="services-section">
  <div class="container">
    <div
      class="row mb-5 justify-content-center"
      style="margin-bottom: unset!important;"
    >
      <div class="col-12 text-center" style="margin-bottom:0px !important;">
        <h2 class="section-title mb-3" style="margin-top:0px !important;">
          Services
        </h2>
      </div>
    </div>
    <div class="row align-items-stretch" style="margin-top:0px !important;">
      <div
        class="col-md-6 col-lg-4 mb-4 mb-lg-4"
        data-aos="fade-up"
        data-aos-delay="100"
        style="opacity:unset !important;margin-top:0px;"
      >
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4">
            <span class="text-primary flaticon-house"></span>
          </div>
          <div>
            <h3>Search Property</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Perferendis quis molestiae vitae eligendi at.
            </p>
            <p><a href="#">Learn More</a></p>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 mb-4 mb-lg-4"
        data-aos="fade-up"
        data-aos-delay="100"
        style="opacity:unset !important ;"
      >
        <div class=" unit-4 d-flex">
          <div class="unit-4-icon mr-4">
            <span class="text-primary flaticon-coin"></span>
          </div>
          <div>
            <h3>Buy Property</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Perferendis quis molestiae vitae eligendi at.
            </p>
            <p><a href="#">Learn More</a></p>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 mb-4 mb-lg-4"
        data-aos="fade-up"
        data-aos-delay="200"
        style="opacity:unset !important ;"
      >
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4">
            <span class="text-primary flaticon-home"></span>
          </div>
          <div>
            <h3>Invest a Home</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Perferendis quis molestiae vitae eligendi at.
            </p>
            <p><a href="#">Learn More</a></p>
          </div>
        </div>
      </div>

      <div
        class="col-md-6 col-lg-4 mb-4 mb-lg-4"
        data-aos="fade-up"
        data-aos-delay="300"
        style="opacity:unset !important ;"
      >
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4">
            <span class="text-primary flaticon-flat"></span>
          </div>
          <div>
            <h3>Post Properties</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Perferendis quis molestiae vitae eligendi at.
            </p>
            <p><a href="#">Learn More</a></p>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 mb-4 mb-lg-4"
        data-aos="fade-up"
        data-aos-delay="400"
        style="opacity:unset !important ;"
      >
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4">
            <span class="text-primary flaticon-location"></span>
          </div>
          <div>
            <h3>Property Locator</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Perferendis quis molestiae vitae eligendi at.
            </p>
            <p><a href="#">Learn More</a></p>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 mb-4 mb-lg-4"
        data-aos="fade-up"
        data-aos-delay="500"
        style="opacity:unset !important ;"
      >
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4">
            <span class="text-primary flaticon-mobile-phone"></span>
          </div>
          <div>
            <h3>Stated Apps</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Perferendis quis molestiae vitae eligendi at.
            </p>
            <p><a href="#">Learn More</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>-->

<section class="site-section  bg-image" id="contact-section">
  <div class="container" style="width:80%;">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <!-- <h3 class="section-sub-title">Get</h3> -->
        <h2 class="section-title mb-3">アルバイトの始め方</h2>
      </div>

      <div class="col-12 text-left">
        <!-- <h3 class="section-sub-title">Get</h3> -->
        <h5>1.Lotreに登録</h5>
        <p>マイページの項目を埋める。</p>
        <p>希望エリアは後から３つまで選択できます。</p>
        <br />
        <h5>2.週に一度はサイトをチェック。</h5>
        <p>
          興味のある企業をもつけたらいつでも「興味あり」をクリックしております。
        </p>
        <br />
        <h5>3.メッセンジャーボックスはいつでも使えます。</h5>
        <p>
          気になる会社への質問や、「興味あり」を選択していた会社さんからの連絡が来たら早めに返事をしましょう。
        </p>
        <br />
        <br />
        <br />
        <h5>
          *Lotre登録企業は、研修中でも厚生労働省発表の最低賃金を守る企業のみの登録です。
        </h5>
        <br />
      </div>
    </div>
  </div>
</section>

<div
  class="py-5  site-section how-it-works"
  id="howitworks-section"
  style="width:100%;"
>
  <div class="container">
    <div
      class="row mb-5 justify-content-center"
      style="margin-bottom: unset!important;"
    >
      <div class="col-md-7 text-center">
        <h2 class="section-title mb-3">ユーザ登録はこちら</h2>
      </div>
    </div>
    <div class="row">
      <div
        style="width: 60%;margin: 0 auto;padding-top: 20px;padding-bottom: 20px;"
      >
        <h5 style="font-family: unset;">一般ユーザー登録</h5>

        <div class="field">
          <label class="label">ユーザー名</label>
          <div class="control has-icons-left has-icons-right">
            <input
              class="input is-success"
              type="text"
              [(ngModel)]="username"
            />
            <span class="icon is-small is-left">
              <i class="nc-icon nc-single-02" style="font-size: 12px;"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="nc-icon nc-check-2" style="font-size: 12px;"></i>
            </span>
          </div>
          <!--<p class="help is-success">This username is available</p>-->
        </div>

        <div class="field">
          <label class="label">メールアドレス</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input is-success" type="email" [(ngModel)]="email" />
            <span class="icon is-small is-left">
              <i class="nc-icon nc-email-85" style="font-size: 12px;"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
          </div>
          <!--<p class="help is-danger">正しいメールアドレスではありません。</p>-->
        </div>

        <div class="field">
          <label class="label">パスワード</label>
          <div class="control has-icons-left has-icons-right">
            <input
              class="input is-success"
              type="password"
              [(ngModel)]="password"
            />
            <span class="icon is-small is-left">
              <i class="nc-icon nc-single-02" style="font-size: 12px;"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="nc-icon nc-check-2" style="font-size: 12px;"></i>
            </span>
          </div>
          <!-- <p class="help is-success">ok</p> -->
        </div>

        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" [(ngModel)]="check" />
              <a href="#">利用規約</a>に同意します。
            </label>
          </div>
          <p class="help is-danger">{{ message }}</p>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link" (click)="create()">
              アカウントを作成
            </button>
          </div>
          <div class="control">
            <button class="button is-danger is-inverted">やめる</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="py-5 bg-light site-section" id="contact-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <!-- <h3 class="section-sub-title">Get</h3> -->
          <h2 class="section-title mb-3">Contact Us</h2>
        </div>
      </div>
    </div>
  </section>
</div>
